.idea/
!.idea/runConfigurations
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

.packages
.pub/
.dart_tool/
pubspec.lock

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
generated_plugin_registrant.dart

build/
.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id
*.iml

# FVM Version Cache
.fvm/